/* margin e o padding
	margin - espaço fora do objeto
	padding - espaço dentro do objeto

	reset
*/
* {
	margin: 0;
	padding: 0;
	font: 15px Raleway;
	font-weight: 400;
}

/* formatar o header */
header {
	background: rgba(0,0,0,0.3); /* cor de fundo */
	padding: 10px 20px; /* margem interna */
	position: fixed; /* fixar o topo */
	width: 100%; /* largura */
	z-index: 9999;
}

/* figure - banner */
figure {
	background: linear-gradient(to right, #F00, #FF0, #00F, green);
	width: 100%;
}

figure .frase {
	color: #FFF;
	text-align: center;
	font-size: 36px;
	position: absolute;
	width: 100%;
	margin-top: -200px;
}

figure img {
	opacity: 0.5;
	display: block;
}

article img, figure img {
	width: 100%;
}

.container {
	width: 1000px;
	margin: 20px auto;
}

main {
	width: 700px;
	float: left;
	display: grid;
	grid-template-columns: 350px 350px;

}

article {
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0 20px #ccc;
	border-radius: 15px;
}

article h2, article p {
	margin: 10px;
}

h2 {
	font-weight: 900;
	font-size: 24px;
}

article img {
	border-radius: 15px 15px 0 0;
	filter: sepia(5);
	transition: filter 0.5s;
}

article img:hover {
	filter: sepia(0);
}

aside {
	width: 270px;
	float: right;
	background-color: #ffffff;
}

aside ul, aside ol {
	margin-left: 40px;
}

aside h2, h1{
	margin: 10px;
	font-weight: 900;
	font-size: 24px;
}

footer {
	background-color: #333;
	color: rgb(252, 252, 252);
	padding: 20px;
	font-weight: 900;
	font-size: 24px;
}

footer nav ul li {
	list-style: none;
	display: inline;
	margin: 10px;
}

footer nav ul li a {
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	/* background: linear-gradient(to right,#F00,#FF0); */
	
}

.btn {
	background-color: rgb(170, 95, 9);
	color: rgb(236, 222, 19);
	padding: 10px;
	width: 50%;
	display: block;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	border-radius: 100px;
	transition: 0.5s;
}

.btn:hover {
	background-color: #000;
	color: rgb(250, 248, 248);
}

.clearfix {
	clear: both;
}

header nav {
	float: right; /* flutuar o menu a direita */
	padding: 20px 30px;
}

header nav ul li {
	list-style: none;
	display: inline;
	margin: 10px;
}

header nav ul li a {
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	/* background: linear-gradient(to right,#F00,#FF0); */
}

header nav ul li a:hover {
	color: #F00;
}

#menu {
	color: #FFF;
	border: 1px solid #FFF;
	padding: 10px;
	float: right;
	margin: 10px 30px;
	display: none;
}

.no-grid {
	display: block;
}

.no-grid h1, h2 {
	text-align: center;
	margin: 20px;
	color: rgb(12, 12, 211);
}

.no-grid article {
	border-radius: 80px;
	text-align: center;
	margin: 10px;
	font-weight: 24px;
}

.no-grid iframe {
	border-radius: 30px;
}

main h1 {
	font-size: 26px;
	margin: 20px;
}

main p {
	margin: 20px;
	line-height: 30px;
}

input[type=text], input[type=email], textarea, select {
	width: 100%;
	margin: 20px 0px;
	padding: 5px;
}

button {
	width: 40%;
	margin: 10px;
	background-color: blue;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev{
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    z-index: 9;
    background-color: transparent;
    background-image: url('../img/anterior.png');
    position: absolute;
    top: 35%;
    left: 0;
}
button.slick-next{
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    z-index: 9;
    background-color: transparent;
    background-image: url('../img/posterior.png');
    position: absolute;
    top: 35%;
    right: 0;
}
.slick-list{
    width: 100% !important;
}
.slick-initialized{
    overflow: hidden;
}
.slick-dots li button{
    font-size: 0px;
    border: 1px solid #ffffff;
    width: 25px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 48%;
    top: 400px;
}
li.slick-active button{
	background: #ffffff;
}
.slick-dots li {
    padding-left: 10px;
	display: inline-block;
}

.col-3{
    padding-right: 15px;
    padding-left: 15px;
    width: 30%;
    float: left;
	position: relative;
}

.row img {
	width: 300px;
	height: 200px;
	border-radius: 50px 10px;
}

form button {
	border-radius: 100px;
	height: 30px;
	width: 100px;
	background-color: rgb(197, 132, 10);
	color: #FFF;
	float: left;
}

a:link, form .button {
	text-decoration: none;
	color: rgb(255, 255, 255);

}
